.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .add-agrifoods-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-agrifoods-button:hover {
    background-color: #45a049;
  }
  
  .container {
    margin: 20px;
  }
  